.footer {
    background: var(--dark-line-background);
    color: var(--footer-text-color);
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px 0;
}

.footer .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    gap: 20px; 
}
@media(min-width:1000px){
    .footer .wrapper{
        flex-direction: row;
    }
    .footer .wrapper > * {
        flex: 0 0 23%;
    }
}
.footer a{
    color: var(--footer-text-color);
}

.footer .header__menu {
    flex: .5;
    height: 150px;
}
.footer__contacts, .footer__location{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
.footer .title {
    color: var(--title-light-text-color);
}
.footer .social-media__item {
    transform: none;
    opacity: 1;
}
.footer__location {
text-align: center;
}
.footer iframe {
    border-radius: 15px;
}