@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* * {
  border: 1px solid red;
} */


.overflow-hidden {
  overflow: hidden;
}
body {
  max-width: 100%;
  height: 1vh;
  overflow-x: hidden;
  font-family: "Noto Sans", serif;
  font-weight: 400;
  font-size: 17px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
img {
  margin: 0;
  padding: 0;
}
a {
  color: var(--dark-main-text-color);
  text-decoration: none;
  cursor: pointer;
}
.wrapper {
  width: 70%;
  margin: auto;
}
h2 {
  font-size: 12px;
  font-weight: 700;
  color: var(--h2-text-color);
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 24px;
}
.title {
  font-family: "Ubuntu", serif;
  font-weight: 700;
}
.main-text {
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
  color: var(--dark-main-text-color);
}

:root {
/* TITLES */
  --h2-text-color: rgb(233, 4, 42);
  --title-dark-text-color: rgb(22, 22, 22);
  --title-light-text-color: rgb(255, 255, 255);

  /* MAIN TEXT */
  --dark-main-text-color: rgb(74, 74, 74);
  --light-main-text-color: rgb(255, 255, 255);

  /* DECORATIONS */
  --line-decor-color: rgb(233, 4, 42);
  --social-media-circle-color: rgb(233, 4, 42);
  --social-media-circle-hover-color: rgb(251, 37, 72);

  /* BUTTONS */
  --button-color: rgb(233, 4, 42);
  --button-dark-hover-color: rgb(22, 22, 22);
  --button-light-hover-color: rgb(255, 255, 255);

  /* BACKGROUND */
  --dark-background: rgb(22, 22, 22);
  --light-background: rgb(255, 255, 255);
  --light-line-background: url("../img/light-background.png") 0 0 / cover repeat;
  --cards-background: rgb(237, 237, 237);
  --dark-line-background: url("../img/dark-background.jpg") 0 0 / 70% ;

}



/* BUTTONS */

.red-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--button-color);
  width: 155px;
  height: 50px;
  border-radius: 30px;
  color: var(--light-main-text-color);
  font-size: 15px;
  font-weight: 700;
  transition: all ease-in-out 0.3s;
}
.red-btn:hover{
  background: var(--button-light-hover-color);
  color: var(--dark-main-text-color);
  transition: all ease-in-out 0.3s;
}

.transparent-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 155px;
  height: 50px;
  border: 1px solid var(--light-main-text-color);
  border-radius: 30px;
  color: var(--light-main-text-color);
  font-size: 15px;
  font-weight: 700;
  transition: color ease-in-out 0.3s;
  transition: background ease-in-out 0.3s;

}
.transparent-btn:hover{
  background: var(--button-light-hover-color);
  color: var(--dark-main-text-color);
  transition: color ease-in-out 0.3s;
  transition: background ease-in-out 0.3s;
}


/* SHOW/HIDDEN */

.for-modile {
  display: flex;
}

.for-desktop {
  display: none;
}

@media(min-width) {
  .for-desktop {
    display: flex;
  }

  .for-modile {
    display: none;
  }
}