.header__menu {
    flex: 0;
}
@media(min-width:1000px) {
    .header__menu {
        flex: 1;
    }
}

.header__menu-item-li a {
    color: var(--title-light-text-color);
    font-size: 15px;
    transition: all ease-in-out 0.2s;
}
.header__menu-item-li a:hover {
    color: var(--button-color);
    transition: all ease-in-out 0.2s;
}
.header .header__menu-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}
@media (min-width: 1000px) {
.header .header__menu-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}
}

.footer .header__menu-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.header__menu-item-li, .social-media__item {
    transform: translateX(-100vw);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.header__menu-item-li.nav-visible, .social-media__item.nav-visible {
    transform: translateX(0);
    opacity: 1;
    z-index: 1000;
}
@media (min-width: 1000px) {
    .header__menu-item-li, .social-media__item {
        transform: translateX(0);
        opacity: 1;
    }
    }