.projects {
  background: var(--light-line-background);
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.projects .separator {
  position: absolute;
  width: 100%;
  height: 70px;
  background: transparent;
  top: -40px;
}

.projects .separator::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: white;
  opacity: 1;
  transform: skewY(-181.7deg);
  height: 45px;
}


.projects .wrapper {
  height: 100%;
  padding: 0px;
}

.projects h2,
.projects .title {
  width: fit-content;
  margin: 25px auto;
}
.projects .title {
text-align: center;
}


.projects .title {
  font-size: 46px;
  line-height: 55.2px;
}

/* OUTER SLIDER */
.slick-slider {
  min-width: 0;
  width: 90%;
  margin: auto;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slider {
  position: relative;
  padding: 0px 60px;
  margin-bottom: 50px;
}

@media (max-width:767px) {
  .slider {
    padding: 0px 40px;
  }
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url('../img/arrow.png') 0 0 / 100% no-repeat;
  transform: rotate(180deg) translateY(50%) translateX(50px);
  filter: invert(1) grayscale(1);
  border: none;

}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url('../img/arrow.png') 0 0 / 100% no-repeat;
  filter: invert(1) grayscale(1);
  transform: translateX(50px);
  border: none;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}


.slider__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 15px;
  margin-right: 10px;
  background: var(--light-background);
  border-radius: 15px;
  height: 450px;
}
@media(min-width:500px){
  .slider__item{
    justify-content: space-between;
  }
}

.slider__item .title {
  font-size: 24px;
  line-height: normal;
  margin: 0 auto;
  text-align: center;
}
.slider__item__text {
  margin-top: 20px;
}
.work-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  height: fit-content;
  width: 90%;
  margin: 0 auto -10px;
}

.work-details .main-text {
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  padding: 10px 0;
}

.checkmark-container {
  min-width: 20px;
  min-height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--social-media-circle-color);
  transition: all ease-in-out 0.2s;
  border-radius: 50%;
}

.checkmark-container img {
  width: 17px;
  height: 17px;
}

.slider__item img {
  max-width: 100%;
}



/*INNER SLIDER*/

.inner-slider {
  position: relative;
  margin: 30px auto 0;
  user-select: none;
  touch-action: pan-y;
}

.inner-slider img {
  poiner-events: none;
}

.slider-list {
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin: auto;
}

@media(min-width:500px) {
  .slider-list {
    width: 90%;
    height: 250px;
  }
}

.slider-list.grab {
  cursor: grab;
}

.slider-list.grabbing {
  cursor: grabbing;
}

.slider-track {
  display: flex;
}

.slide {
  width: 90%;
  height: 180px;
  flex-shrink: 0;
  margin: auto;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
@media (min-width:500px) {
  .slide {
    width: 90%;
    height: 250px;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.slider-arrows {
  margin-top: 15px;
  text-align: center;
  color:black;
}

.next,
.prev {
  background: none;
  border: none;
  margin: 0 10px;
  font-size: 30px;
  cursor: pointer;
}

.next.disabled,
.prev.disabled {
  opacity: .25;
  pointer-events: none;
}


.projects .separator-down {
  position: absolute;
  width: 100%;
  height: 40px;
  background: transparent;
  bottom: -33px;
}
.projects .separator-down::after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  height: 80px;
    background: linear-gradient(to right, transparent 0%, rgb(213, 213, 213) 0%, transparent 100%);
  opacity: 0.7;
  transform: skewY(-176deg);
}