.services {
    width: 100%;
    height: 930px;
    background: var(--dark-line-background);
    position: relative;
    overflow: hidden;
    transition: height ease-in-out 0.5s;
}

.services.full-height {
    height: auto;
    max-height: none;
    overflow: visible;
    transition: height ease-in-out 0.5s;
}

.show-all-services {
    position: absolute;
    bottom: 0px;
    right: 50%;
    transform: translateX(50%);
    width: fit-content;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: block;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.services.full-height .show-all-services__text {
    display: none;
}

.show-all-services:hover {
    background: var(--button-dark-hover-color);
    color: var(--light-main-text-color);
}

.show-all-services__arrow {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
}

.services.full-height .show-all-services__arrow {
    transform: rotate(180deg);
}

.services .separator {
    position: absolute;
    width: 100%;
    height: 70px;
    background: transparent;
    top: -40px;
}

.services .separator::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
    opacity: 1;
    transform: skewY(-181.7deg);
    height: 45px;
}

.services .separator::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: 70px;
    background: white;
    opacity: 0.7;
    transform: skewY(-184deg);
}

.services .wrapper {
    padding: 70px 0 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.services h2 {
    text-align: center;
}

.services .title {
    color: var(--title-light-text-color);
    font-size: 46px;
    width: fit-content;
    margin-top: -40px;
    text-align: center;
}


.services__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    overflow: hidden;
    flex-wrap: wrap;
}

@media (min-width:1000px) {
    .services__container {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.services__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    order: initial;
    width: 100%;
    background: var(--light-background);
    border-radius: 15px;
    padding: 0px 0px 15px 0;
    overflow: hidden;
    gap: 30px;
}

@media (min-width:1000px) {
    .services__card {
        flex-direction: row;
        width: 40%;
        height: 300px;
        padding: 15px 0 15px 0px;
        transition: width ease-in-out 0.3s;
    }

    .services__card.price-visible {
        width: 100%;
        transition: width ease-in-out 0.3s;
    }
}

.services__card-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    width: 100%;
}

.services__card-price {
    display: none;
}
.services__card.price-visible .services__card-price {
    width: 90%;
    display: block;
    overflow: auto;
    height: 400px;
}
@media(min-width:1000px) {
.services__card.price-visible .services__card-price {
    width: 45%;
    display: block;
    overflow: auto;
    max-height: 280px;
}
}
@media (min-width:1000px) {
    .services__card-info {
        flex-direction: row;
    }

    .services__card.price-visible .services__card-info {
        width: 50%;
        border-right: 1px solid var(--line-decor-color);
    }
}


.services__card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

@media (min-width:1000px) {
    .services__card img {
        width: 40%;
        height: 300px;
        object-fit: cover;

    }
}

.services__card__text {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

@media (min-width:800px) {
    .services__card__text {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.services__card__text .red-btn:hover {
    background: var(--button-dark-hover-color);
    color: var(--light-main-text-color);
}
.collapse {
    display: none;
}


.services .separator-down {
    position: absolute;
    width: 100%;
    height: 70px;
    background: transparent;
    bottom: -33px;
}

.services .separator-down::after {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 80px;
    background: white;
    opacity: 0.7;
    transform: skewY(-176deg);
}

