@import url(global.css);
@import url(header.css);
@import url(menu-list.css);
@import url(social-media.css);
@import url(hero.css);
@import url(about-us.css);
@import url(services.css);
@import url(projects.css);
@import url(footer.css);

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: var(--social-media-circle-color);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    display: none; /* Ховаємо кнопку за замовчуванням */
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, transform 0.3s;
    z-index: 2000;
}

.scroll-to-top:hover {
    background: var(--social-media-circle-hover-color);
    transform: scale(1.1);
}
